<div class="card mt-4">
  <%= image_tag @ad.picture.url(:large) , class: "card-img-top img-fluid" %>
  <div class="card-body">
    <h3 class="card-title"><%= @ad.title %></h3>
    <h4><%= humanized_money_with_symbol(@ad.price)%></h4>
    <p class="card-text">
      <%= @ad.description.html_safe %>
    </p>
      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
      4.0 stars
      <span class="float-right">5 comentários</span>
  </div>
</div>

<%= render partial: "site/ad_detail/comments" %>
