  <%= content_for :javascripts do %>
    <%= javascript_include_tag "site/profile/ads" %>
  <% end %>

  <%= render partial: "shared/messages", locals: { record: @ad } %>

  <%= form_with(model: [:site, :profile, @ad], html: { multipart: true}, local: true ) do |form| %>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control col-md-8" %>
    </div>

    <div class="form-group">
      <%= form.label :category %>
      <%= form.collection_select :category_id, Category.all, :id, :description, {},
          {class: "form-control col-md-4"} %>
    </div>

    <div class="form-group">
      <%= form.label :price %>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <%= @ad.price.currency.symbol %>
          </div>
        </div>
        <%= form.text_field :price, class: "form-control col-md-2" %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :picture %><br/>
      <% unless @ad.picture.blank? %>
        <%= image_tag @ad.picture(:medium) , class: "img-thumbnail" %>
      <% end %>
      <%= form.file_field :picture, class: "btn form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description_md %>
      <%= form.text_area :description_md, class: "form-control col-md-12", rows: 10 %>
    </div>

    <% if @ad.description.present? %>
      <div class="form-group card shadow mb-6">
        <a href="#collapseCardExample" class="d-block card-header py-3"
           data-toggle="collapse" role="button"
           aria-expanded="true"
           aria-controls="collapseCardExample">

          <h8 class="m-0 font-weight-bold text-secondary text-muted">Pré-Visualização</h8>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample" style="">
          <div class="card-body">
            <%= @ad.description.html_safe %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :finish_date %>
      <%= form.text_field :finish_date, class: "form-control col-md-3 datepicker",
                          value: (l(@ad.finish_date) unless @ad.finish_date.blank?) %>
    </div>

    <%= form.button "Salvar", class: "btn btn-primary" %>
<% end %>
