<div class="card shadow mb-4">

   <div class="card-header py-3">
     <h6 class="m-0 font-weight-bold text-primary">
      <%= t("messages.listing", model: @admins.model_name.human(count: @admins.count)) %>
      <% if policy(@admins).new? %>
        <%= link_to new_backoffice_admin_path, class: "btn btn-success btn-circle float-right" do %>
          <i class="fas fa-plus"></i>
        <% end %>
      <% else %>
        <span class="btn btn-success btn-circle disabled float-right">
            <i class="fas fa-plus"></i>
        </span>
      <% end %>
     </h6>
   </div>

   <div class="card-body">
      <div class="table-responsive">
         <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

            <div class="row">
               <div class="col-sm-12">
                  <table class="table table-bordered dataTable" id="dataTable"
                         width="100%" cellspacing="0" role="grid"
                         aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th  class="sorting_asc" tabindex="0" aria-controls="dataTable"
                             rowspan="1" colspan="1" aria-sort="ascending"
                             aria-label="Name: activate to sort column descending"
                             style="width: 141px;">
                          <%= @admins.model.human_attribute_name("name") %>
                        </th>
                        <th  class="sorting_asc" tabindex="0" aria-controls="dataTable"
                             rowspan="1" colspan="1" aria-sort="ascending"
                             aria-label="Name: activate to sort column descending"
                             style="width: 141px;">
                          <%= @admins.model.human_attribute_name("email") %>
                        </th>

                        <th  class="sorting_asc" tabindex="0" aria-controls="dataTable"
                             rowspan="1" colspan="1" aria-sort="ascending"
                             aria-label="Name: activate to sort column descending"
                             style="width: 141px;">
                          <%= @admins.model.human_attribute_name("role") %>
                        </th>

                        <th  class="sorting" tabindex="0" aria-controls="dataTable"
                             rowspan="1" colspan="1"
                             aria-label="Position: activate to sort column ascending"
                             style="width: 100px; text-align: center;">
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @admins.each do |admin| %>
                        <tr role="row" class="odd">

                          <td class="sorting_1"><%= admin.name %></td>

                          <td class="sorting_1"> <%= admin.email %> </td>

                          <td class="sorting_1"><%= admin.role_i18n %></td>

                          <td style="text-align: center;">
                            <%= link_to edit_backoffice_send_message_path(admin),
                                  class: "btn btn-primary btn-circle btn-sm fooo",
                                  remote: true do %>
                                    <i class="fas fa-envelope"></i>
                            <% end %>
                            <%= link_to edit_backoffice_admin_path(admin),
                                class: "btn btn-info btn-circle btn-sm" do %>
                                <i class="fas fa-edit"></i>
                            <% end %>

                            <% if admin.id != current_admin.id && policy(admin).destroy? %>
                              <%= link_to backoffice_admin_path(admin),
                                  method: :DELETE,
                                  class: "btn btn-warning btn-circle btn-sm fooo",
                                  data: {confirm: t("messages.confirm_with", item: admin.name)} do %>
                                    <i class="fas fa-times"></i>
                              <% end %>
                            <% else %>
                              <span class = "btn btn-warning btn-circle btn-sm  disabled">
                                  <i class="fas fa-times"></i>
                              </span>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">Message Head</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= form_with url: backoffice_send_messages_path do |form| %>

          <div class="form-group">
            <%= form.label "Destinatário", class: "col-form-label" %>
            <%= form.text_field :recipient, class: "form-control", id: "recipient-name", readonly: "readonly" %>
          </div>

          <div class="form-group">
            <%= form.label "Assunto", class: "col-form-label" %>
            <%= form.text_field :subject, class: "form-control", id: "subject-text" %>
          </div>

          <div class="form-group">
            <%= form.label "Mensagem", class: "col-form-label" %>
            <%= form.text_area :message, class: "form-control", id: "message-text" %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <%= form.submit "Enviar", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
