<!DOCTYPE html>
<html lang="en">

  <head>
    <title>EscamboAPP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "site", media: "all" %>
  </head>

  <body id="top">
    <div id="global-spin" class="loading" style="display: none" >Loading&#8230;</div>

    <%= render partial: "layouts/shared/site/navigation" %>

    <div class="container">

      <div class="row">

        <%= render partial: "layouts/shared/site/sidebar" %>

        <div class="col-lg-9" id="home-detail">
          <%= render partial: "layouts/shared/site/carousel" if controller_path == "site/home" %>
          <%= yield %>
        </div>

      </div>

    </div>

    <%= render partial: "layouts/shared/site/footer" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
