<!DOCTYPE html>
<html lang="en">

  <head>
    <title>EscamboAPP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "site", media: "all" %>
  </head>

  <body>
    <%= render partial: "layouts/shared/site/navigation" %>
    <%= yield %>
    <%= render partial: "layouts/shared/site/footer" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
